body{
     font-family: 'Ubuntu', sans-serif;
     margin: 0;
}
.firs{
     background-image: url(img/bg\ banner.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     margin-bottom: 100px;
}
.first-section{
     display: flex;

}
.logo img{
     width: 120px;
     height: 70px;
     padding: 4px  600px 4px 4px ;

}
.menu{
     font-size: 18px;
     text-align: right;
     font-weight: 900;
   

}
ul li{
     display: inline-block;
     list-style: none;
     padding:  10px;
}
a{
     text-decoration: none;
     color: #111844;

}
.second-section{
     display: flex;
   
  
}
.hd-width{
     width: 50%;
}
#hd-img{
  padding: 40px  0px 0px 200px;
  margin-bottom: 0px;
  width: 300px;
}
#hd-text{
     text-align: left;
     padding: 60px 0px 20px 80px;
     color: #111844;
     font-weight: 600;
     
}
#hd-text h1{
     font-size: 60px;
     font-weight: 600;
     color: #111844;
}
#bellah{
     color: #1e33bf;
}
button{
     padding: 15px 40px;
     border-radius: 15px  0px;
     border: none;
     background-color: #26A7C6;
     box-shadow: 3px 3px 5px gray,-5px -3px 3px gray;
     font-size: 20px;
     font-weight: 600;
     color: whitesmoke;

}




.thirh-section{
     margin-bottom: 100px;
}

.thirh-section h1{
     font-size: 40px;
     text-align: center;
     margin-bottom: 100px;
}
.thirh-flex{
     display: flex;
}
.thirth-div{
   width: 50%;
  
}
#thirth-img{
     width: 45%;
}
#thirth-img img{
     width: 80%;
     height: 90%;
     margin-left: 30px;
     border: none;
     border-radius: 10px;
}
#thirth-text{
     width: 55%;
     padding: 10px 15px 5px 10px;
     text-align: justify;
}